@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  /* Colors */
  --primary-color: #333333;
  --secondary-color: #ffffff;
  --logo-color: #28a745;
  --hero-color: #e9e9e9;
  /* Backgrounds */
  --main-background: #ffffff;
  --first-additional-background: #f4f4f4;
  --second-additional-background: #28a745;
  --third-additional-background: #0284d0;
  --footer-background: #333333;
  /* Overlays */
  --poppup-overlay: rgba(40, 167, 69, 0.9);
  /* Buttons */
  --first-btn-color: #28a745;
  --second-btn-color: #0284d0;
  --hover-first-btn-color: #28aa64;
  --hover-second-btn-color: #045dc5;
  /* Links */
  --link-hover-focus-color: #28a745;
  /* Cubic-Bezier */
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color);
  background-color: var(--main-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.container {
  width: 1360px;
  padding: 0;
  margin: 0 auto;
}

/* Colors */
/* Backgrounds */
/* Overlays */
/* Buttons */
/* Links */
/* Cubic-Bezier */
.social-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-list__link, .social-list, .team-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 2 */
/* Features section  */
.features-container {
  background-color: var(--first-additional-background);
  padding: 40px 66px 20px;
}

.features-title {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
}

.features-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  gap: 71px;
}

.icon-features {
  fill: var(--secondary-color);
  margin: 15px;
}

.icon-features-background {
  background-color: var(--second-additional-background);
  border-radius: 33.5px;
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.features-item {
  width: 362px;
}

.features-container img {
  margin-left: auto;
  margin-right: auto;
}

.features-subtitle {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  font-weight: 400;
  margin: 15px 0;
}

.features-text {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  margin: 0 0 20px;
}

.features-item__block {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.features-popup {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 250ms var(--time-function);
  margin: 0;
  background-color: var(--poppup-overlay);
  border-radius: 10px;
}

.features-item:hover .features-popup {
  opacity: 1;
  transform: translateY(0);
}

.features-popup__text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  padding: 24px;
  color: var(--secondary-color);
  text-align: center;
  font-size: 18px;
  line-height: 1.56;
}

.provide-container {
  background-color: var(--second-additional-background);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  max-height: 460px;
  width: 1360px;
}

.provide-img {
  display: inline-block;
  width: 680px;
}

.provide-text-container {
  padding: 84px 44px 84px 30px;
  width: 680px;
  max-height: 460px;
}

.provide-subtitle {
  font-size: 20px;
  line-height: 1.65;
  margin: 0 0 5px;
}

.provide-title {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin: 0 0 26px;
}

.provide-text {
  font-size: 18px;
  line-height: 1.56;
  margin: 0 0 17px;
}

.provide-details {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 250ms var(--time-function);
}

.provide-details:hover,
.provide-details:focus {
  background-color: var(--hover-first-btn-color);
}

.provide-details-text {
  list-style: none;
  width: 97px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-color);
  padding: 11px 27px 12px 42px;
  width: 167px;
}

.container-business {
  width: 1360px;
  text-align: center;
  padding: 50px 28px;
}

.business-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 7px 8px;
}

.business-subtitle {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.65;
}

.business-title {
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.business-text {
  margin-bottom: 39px;
  font-size: 18px;
  line-height: 1.56;
}

.postone-container {
  display: flex;
  flex-direction: row-reverse;
  color: #ffffff;
  background-color: #0284d0;
}

.postone-container__text {
  padding: 112px 44px 113px 30px;
}

.postone-subtitle {
  margin: 0 0 5px;
  font-size: 20px;
  line-height: 1.65;
  color: #ffffff;
}

.postone-title {
  margin: 0 0 26px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: #ffffff;
}

.postone-text {
  margin: 0 0 17px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}

.postone-button {
  display: inline-block;
  padding: 11px 31px 10px 42px;
  min-width: 196px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #0284d0;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.postone-button:hover, .postone-button:focus {
  background-color: #045dc5;
}

.team-container {
  padding-top: 49px;
  padding-bottom: 59px;
}
.team-container__subtext {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  margin-bottom: 16px;
}
.team-container__heading {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  margin-bottom: 34px;
}
.team-container__text {
  font-size: 28px;
  line-height: 1.55;
  text-align: center;
  margin-bottom: 45px;
}

.team-list {
  gap: 19px;
  padding-left: 0;
}
.team-list__name {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.28;
  text-align: center;
  margin-top: 11px;
}
.team-list__prof {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  margin-top: 12px;
}

.img-thumb {
  position: relative;
}

.social-list {
  gap: 25px;
  opacity: 0;
  transition: opacity 250ms var(--time-function);
}
.social-list__icon {
  fill: #ffffff;
  transition: fill 250ms var(--time-function);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #28a745;
}
.img-thumb:hover .social-list {
  opacity: 1;
}

.request-box {
  display: flex;
}

.request-callback {
  padding: 78px 30px 82px 30px;
  background-color: var(--first-additional-background);
}

.request-headline {
  margin-bottom: 34px;
  color: var(--primary-color);
  font-weight: 300;
  font-size: 38px;
  line-height: 1.25;
  text-transform: capitalize;
}

.request-name {
  width: 100%;
  padding: 6px 5px 5px 5px;
  margin-bottom: 36px;
  background: var(--main-background);
  border: 1px solid var(--first-additional-background);
  border-radius: 0px;
}

.request-email {
  width: 100%;
  padding: 6px 5px 5px 5px;
  margin-bottom: 60px;
  background: var(--main-background);
  border: 1px solid var(--first-additional-background);
  border-radius: 0px;
}

.request-button {
  display: inline-block;
  color: var(--secondary-color);
  background: var(--second-additional-background);
  border-color: transparent;
  border-radius: 5px;
  width: 620px;
  height: 42px;
  cursor: pointer;
  transition: background-color 250ms var(--time-function);
}

.request-button:hover {
  background-color: var(--hover-first-btn-color);
}

.footer {
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: center;
  background: var(--footer-background);
}

.icon-footer {
  fill: var(--secondary-color);
  transition: fill 250ms var(--time-function);
}

.footer-link:hover .icon-footer,
.footer-link:focus .icon-footer {
  fill: var(--link-hover-focus-color);
}

.footer-link {
  display: flex;
  align-items: center;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 10px;
  padding: 0;
}

.footer-paragraf {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}/*# sourceMappingURL=index.css.map */