<section class="provide">
  <div class="provide__container container">
    <img
      class="provide__img"
      src="./images/team-photo.jpg"
      alt="Team photo"
      width="680"
    />
    <div class="provide__text-container">
      <p class="provide__subtitle">What you are looking for</p>
      <h2 class="provide__title">We provide bespoke solutions</h2>
      <p class="provide__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <details class="provide__details">
        <summary class="provide__details-text">Read More</summary>
      </details>
    </div>
  </div>
</section>
