<section class="provide">
  <div class="provide-container container">
    <img
      class="provide-img"
      src="./images/team-photo.jpg"
      alt="Team photo"
      width="680"
    />
    <div class="provide-text-container">
      <p class="provide-subtitle">What you are looking for</p>
      <h2 class="provide-title">We provide bespoke solutions</h2>
      <p class="provide-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <details class="provide-details">
        <summary class="provide-details-text">Read More</summary>
      </details>
    </div>
  </div>
</section>
