/* 2 */
/* Features section  */
.features {
  &__container {
    background-color: $first-additional-background;
    padding: 40px 66px 20px;

    & img {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.65;
    text-align: center;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 1.65;
    text-align: center;
    font-weight: 400;
    margin: 15px 0;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    gap: 71px;
  }

  &__icon {
    fill: $secondary-color;
    margin: 15px;
  }

  &__icon-background {
    background-color: $second-additional-background;
    border-radius: 33.5px;

    width: 67px;
    height: 67px;
    margin: 0 auto;
    @extend %centeredFlex;
  }

  &__item-block {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  &__item {
    width: 362px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    margin: 0 0 20px;
  }

  &__popup {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: transform 250ms var(--time-function);
    margin: 0;
    background-color: $poppup-overlay;
    border-radius: 10px;
  }

  &__popup-text {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    padding: 24px;
    color: $secondary-color;
    text-align: center;
    font-size: 18px;
    line-height: 1.56;
  }

  &__item:hover &__popup {
    opacity: 1;
    transform: translateY(0);
  }
}