.footer {
    padding-top: 20px;
    padding-bottom: 20px; 
    text-align: center;
    background:$footer-background;
  
    font-size: 16px;
    line-height: 26px;
  }
  .footer-list {
    @extend%centeredFlex;
    gap: 25px;
    margin-bottom: 10px;
    padding: 0;
    &__link{
      display: flex;
      align-items: center;}
    &__link:hover .footer-list__icon, 
    &__link:focus .footer-list__icon{
      fill:$link-hover-focus-color;
    } 
    &__icon{
      fill:$secondary-color;
    
      transition: fill 250ms $time-function;} 
    &__paragraf{
      color:$secondary-color;
      font-size: 16px;
      line-height:calc(26/16);
      text-align: center;
    @media screen and (min-width:768px) {
      font-size: 18px;
      line-height: calc(28/18);
    }
    }   
    }
  
 
  
  