.footer {
    padding-top: 20px;
    padding-bottom: 16px;
    text-align: center;
    background:$footer-background;
  }
  .footer-list {
    @extend%centeredFlex;
    gap: 25px;
    margin-bottom: 10px;
    padding: 0;
    &__link{
      display: flex;
      align-items: center;}
    &__link:hover .footer-list__icon, 
    &__link:focus .footer-list__icon{
      fill:$link-hover-focus-color;
    } 
    &__icon{
      fill:$secondary-color;
    
      transition: fill 250ms $time-function;} 
    &__paragraf{
      color:$secondary-color;
      font-size: 18px;
      line-height: 1.5;
      text-align: center;}   
    }
  
 
  
  