.header-hero-background {
    background-image: url('../images/header-hero-background.jpg'),
        linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-size: cover;
    max-width: 1360px;
    height: 768px;
    padding: 0;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.icon-header {
    fill: var(--logo-color);
    width: 40px;
    height: 43px;
    margin-right: 10px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 11px 0 0 50px;

    color: var(--logo-color);
    font-size: 35px;
    line-height: 1.2;
    text-align: center;
}

.logo-part {
    color: var(--secondary-color);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 38px;
    padding: 21px 0;
    margin-right: 46px;
}

.nav-link {
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 1.55;

    transition: color 250ms var(--time-function);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--link-hover-focus-color);
}