.header {

    // .header__nav

    &__nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    // .header__list

    &__list {
        display: flex;
        align-items: center;
        gap: 38px;
        padding: 21px 0;
        margin-right: 46px;
    }

    // .header__item

    &__item {}

    // .header__link

    &__link {
        color: $secondary-color;
        font-size: 18px;
        line-height: 1.55;
            
        transition: color 250ms $time-function;
        &:hover{
          color: $link-hover-focus-color;
        }
        &:focus{
          color: $link-hover-focus-color;
        }
    }
}


.logo {
    display: flex;
    align-items: center;
    padding: 11px 0 0 50px;

    color: $logo-color;
    font-size: 35px;
    line-height: 1.2;
    text-align: center;
    // .logo__icon

    &__icon {
        fill: $logo-color;
        width: 40px;
        height: 43px;
        margin-right: 10px;
    }

    // .logo__part

    &__part {
        color: $secondary-color;
    }
}


