.provide{

}

.provide__container {
    background-color: $second-additional-background;
    @extend %centeredFlex;
    color: $secondary-color;
    max-height: 460px;
    width: 1360px;
}

.provide__img {
    display: inline-block;
    width: 680px;
}

.provide__text-container {
    padding: 84px 44px 84px 30px;
    width: 680px;
    max-height: 460px;
}

.provide__subtitle {
    font-size: 20px;
    line-height: 1.65;
    margin: 0 0 5px;
}

.provide__title {
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin: 0 0 26px;
}

.provide__text {
    font-size: 18px;
    line-height: 1.56;
    margin: 0 0 17px;
}

.provide__details {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 250ms $time-function;

    &:hover,
    &:focus {
        background-color: $hover-first-btn-color;
    }
}

.provide__details-text {
    list-style: none;
    width: 97px;
    font-size: 18px;
    line-height: 1.56;
    color: $secondary-color;

    padding: 11px 27px 12px 42px;
    width: 167px;
}