
.team-container {
    padding-top: 49px;
    padding-bottom: 59px;

    &__subtext {

        font-size: 18px;
        line-height: 1.66;

        @media screen and (min-width:768px) {
            font-size: 20px;
            line-height: 1.65;
        }
        text-align: center;

        margin-bottom: 16px;
    }

    &__heading {
        margin-left: auto;
        margin-right: auto;
        font-weight: 300;
        text-align: center;
        font-size: 38px;
        line-height: 1.26;
        margin-bottom: 34px;
        max-width: 220px;
        @media screen and (min-width:768px) {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
        margin-bottom: 45px;
        @media screen and (min-width:768px) {
            font-size: 17px;
            line-height: 1.64;
        }
        @media screen and (min-width:1360px) {
            font-size: 18px;
            line-height: 1.55;
        }
    }
}



.team-list {
    @extend %centeredFlex;
    flex-direction: column;
    @media screen and (min-width:768px){
        flex-direction: row;
    }
    gap: 19px;
    padding-left: 0;

    &__name {
        font-weight: 400;
        font-size: 25px;
        line-height: 1.28;
        text-align: center;

        margin-top: 11px;
    }

    &__prof {
        font-size: 18px;
        line-height: 1.56;
        text-align: center;

        margin-top: 12px;
    }
}

.team-list__img-thumb {
    position: relative;
}

.team-list__img{
    width: 280px;
    height: 186px;

    @media screen and (min-width:768px){
        width: 223px;
        height: 148px;
    }
    @media screen and (min-width:1360px){
        width: 420px;
        height: 280px;
    }
}

.social-list {
    @extend %absoluteCentered;
    @extend %centeredFlex;
    gap: 25px;
    opacity: 0;
    transition: opacity 250ms var(--time-function);

    &__icon {
        fill: $secondary-color;
        transition: fill 250ms var(--time-function);

        .social-list__link:hover &, .social-list__link:focus &{
            fill: $link-hover-focus-color ;
        }

    }

    &__link {
        @extend %centeredFlex;
    }
    
    .img-thumb:hover &{
        opacity: 1;
    }
}